*{
    font-family: "Inria Serif", serif;
}

/* Variáveis */

:root{
    --primary-color: #5E9C49
}



/* NAV BAR */
.nav{
    margin-right: 39px;
    margin-left: 171px;
}
.nav .nav-link{
    color: #FFF;
    font-size: 38px;
    font-family: inria-serif;
    margin-right: 36px;
    font-weight: 400;
}


/* Banner Inicial */
.background-banner{
    background-image: url(../images/Backgorund.png);
    height: 765px;
    background-size: cover;
}

.main-text-container{
    height: 500px;
}

.main-text{
    color: #FFF;
    font-size: 64px;
    font-family: "La Belle Aurore", cursive;
}

.main-text span{
    border-bottom: 3px solid #FFF;
}

#subtext-main-page{
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    margin-top: 60px;
}

/* Conheça o projeto */

.green-title{
    color: var(--primary-color);
}

.meeting-project{
    background-color: #C5DEBF;
    height: 1132px;
}

.meeting-project h1{
    padding: 89px;
    font-weight: bold;
    font-size: 64px;
}

.meet-text{
    font-size: 32px;
    color: #434343;
}


